@page
@model IndexModel
@{
    ViewData["Title"] = "QR Code Generator";
}

<div class="text-center">
    <h1 class="display-4">QR Code Generator</h1>

    <img src="https://localhost:5001/qrcode" alt="qr-code">
</div>
